@import "tailwindcss";

@theme {
  --color-primary-1: #363738;
  --color-primary: #fff;
  --color-secondary: #f5f5f5;
  --color-secondary-1: #fefaf1;
  --color-bg: #ffffff;
  --color-text1: #7d8184;
  --color-text2: #000000;
  --color-button: #000000;
  --color-secondary2: #db4444;
  --color-button1: #00ff66;
  --color-button2: #db4444;
  --color-hover-button: #e07575;
  --color-hover-button1: #a0bce0;
  --color-text: #fafafa;
  --color-input: #f5f5f5;
}

@media (max-width: 855px) {
  .center-at-855 {
    justify-content: center !important;
    text-align: center !important;
    flex-direction: column !important;
  }
  .shop-main {
    padding-left: 0;
    padding-top: 0;
    font-size: 16px;
  }
  .nav-cathegory {
    padding-top: 0;
  }
}

body {
  min-height: 100vh;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

input::placeholder {
  font-size: 12px;
}

.form {
  display: none;
}

.icon-box1 {
  display: none;
}
